<div class="d-flex justify-content-center m-5">
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="card m-2">
  <div class="card-body">
    <h4 class="card-title">{{ postData.title }}</h4>
    <h6>by user: {{ postData.userId }}</h6>
    <h6>id: {{ postData.id }}</h6>
    <div class="card-text">
      <p>{{ postData.body }}</p>
    </div>
    <button class="btn btn-primary m-1" routerLink="edit">Редактировать</button>

    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  </div>
</div>
